/* FONT IMPORTS */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


/* VARIABLES */

:root {
  --main-color: gray;
  --text-color: black;
  --border-color: black;
}

/* GENERAL */

body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.5;
  margin-left: 165px;
  color: var(--text-color);
  background: var(--main-color);
}

button{
cursor: pointer;
position: relative;
border: 0;
border-radius: 5em;
outline-width: thin;
outline-color: #555555;;
color: #fff;
background: linear-gradient(to right,#769fcd,#88b5e9);
padding: 10px 20px;
margin: 25px 0px;
font-size: 16px;
}

/*Website Name*/

/* The navbar container */
.navbar {
  position: fixed;
  border-right: var(--border-color);
  border-right-style: solid;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  text-align: center;
  width: 150px;
  height: 100%;
}

.navbar li {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  text-decoration: none;
  color: #666666;
  background-color: var(--main-color);
  font-weight: 400;
  font-size: 1.1em;
}

/* Navbar links */
.navbar a {
display: block;
color: black;
padding: 14px 16px;
text-decoration: none;
}

/* Links - change color on hover */
.navbar a:hover {
background-color: #b9d7ea;
font-size: 1.3em;
color: black;
} 

/* Login form */

/*Home page*/

/*Logout form*/

.Logout-container{
  text-align: center;
  padding: 10px 200px 100px 200px;
}
.Logout-container h1{
  color: var(--main-color);
}

/* Post Form */
.postForm input {
  background-color: lightgray;
  width: 80%;
  height: 6em;
  margin: 8px 0;
  padding: 10px 5px;
  box-sizing: border-box;
  position: center;
}

/* Comment Form */
.commentForm {
  display: inline-flex;
  position: relative;
}

.commentForm input {
  background-color: lightgray;
  width: 100%;
  height: 4em;
  margin: 8px 0;
  padding: 5px 5px;
  box-sizing: border-box;
}

.commentButton {
  position: relative;
  display:inline-block;
  margin-left: 10px;
}

/* Post Block */
.postBlock {
  background-color: darkgray;
}

/* Comment Section */
.commentSection {
  background-color: lightgray;
}